@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------
Celular: de 320px até 600px
Tablet: 601px até 768px
Desktop: 769px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 769px) {
    header {
        font-size: 1.2em;
    }
    header img {
        max-width: 108px;
        max-height: 108px;
        margin: -31px 0;
    }
    nav {
        padding-top: 5px;
    }
    nav a {
        padding-left: 10px;
    }
    nav a:hover {
        margin: 3px 0;
        transform: translate(-1px, -4px);
        border-bottom: 2px solid var(--color7);
    }
    main {
        min-width: 720px;
        max-width: 100%;
        margin-top: 90px;
        font-size: 1.2em;
    }
    .welcome h1 {
        margin-top: 45px;
        margin-bottom: -8px;
        padding: 30px 0;
    }
    .initial, .doing, .benefits, .projects, .activities {
        margin: 57px 0px;
    }
    section.initial > div, section.benefits > div , section.doing > div, section.activities > div, section.projects > div {
        padding: 15px 30px;
    }
    /*
    #activities {
        padding-top: 104px;
    }
    .course, .service {
        flex: 1;
    }
    */
    .partners div img {
        max-width: 180px;
    }
    footer {
        font-size: 1.2em;
    }
    #socialmedia {
        margin-top: 18px;
    }
    .links p:nth-of-type(3) {
        margin-bottom: 15px; /* Ajuste o valor conforme necessário */
    }
    .links a {
        margin: 0 5px;
    }
}