@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Typical Device Breakpoints
---------------------------
Celular: de 320px até 600px
Tablet: 601px até 768px
Desktop: 769px até 1200px
TV: acima de 1200px
*/

:root {
    --color0: #e25822;
    --color1: #BA5C12;
    --color2: #717941;
    --color3: #899C4E;
    --color4: #0D0D0D;
    --color5: #1F2421;
    --color6: #e2e4d7;
    --color7: #F5F5F5;

    --fonte-padrao: serif, Arial, Verdana, Helvetica, sans-serif;
    --fonte-title: "Playfair Display", serif;
    --fonte-destaque: 'Bebas Neue', sans-serif, cursive;
    --fonte-footer: 'Roboto', serif, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho do elemento */
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--color6);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header {
    padding-bottom: 20px;
    background-color: var(--color3);
    font-family: var(--fonte-destaque);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
   
}

header div {
    text-align: right;
    margin: 3px 10px 3px 0;
}

#language-select {
    cursor: pointer;
    border-radius: 10px;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
}

header img {
    max-width: 72px;
    max-height: 72px;
    margin: -20px 0;
    float: left;
}

.division {
    font-size: 1.25em; /* Aumentando o tamanho da fonte */
    padding-right: 3px;
}

nav a {
    justify-content: center;
    color: var(--color5);
    padding: 3px 10px;
    text-decoration: none;
    transition: transform 0.25s ease, color 0.25s ease, border-bottom-color 0.25s ease;
}

nav a:hover {
    transform: translate(-1px, -1px);
    color: black;
    border-bottom: 1px solid var(--color7);
}

.first-image {
    width: 100%;
    min-height: 90px;
    margin-bottom: -5px;
    padding-top: 77px;
    
}

main {
    background-color: var(--color7);
    min-width: 320px;
    max-width: 530px;
    margin: auto;
    margin-top: -95px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

section {
    position: relative;
    background-color: var(--color7);
    text-align: center;
    margin: 48px 0;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    padding: 10px;
}

main strong {
    font-weight: bold;
    font-style: italic;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color3);
}

.welcome h1 {
    font-size: 1.25em;
    margin-top: 40px;
    margin-bottom: -11px;
    background-color: var(--color7);
}

.initial, .doing, .benefits, .projects, .activities {
    background-image: url('../imagem/rede1024.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evita repetir a imagem */
    margin: 40px 0px;
    position: relative;
    background-position: bottom;
}



section.initial > div, section.benefits > div {
    margin-left: auto; /* Move a div para a direita */
}

.initial::before, .doing::before, .benefits::before, .activities::before, .projects::before {
    content: ''; /* Cria um pseudo-elemento para o overlay */
    position: absolute; /* Posiciona o pseudo-elemento sobre a imagem */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Cor preta com transparência */
    z-index: 1; /* Coloca o overlay sobre a imagem de fundo */
}


.doing {
    background-color: var(--color7);
    text-align: left;
    margin: 60px 0px;
}

.final {
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem no elemento */
    background-repeat: no-repeat; /* Evita repetir a imagem */
    text-align: left;
    padding: 25px;
    max-width: 556px;
    margin: auto;
    border-top: black 1px solid;
}

section.initial > div, section.benefits > div , section.doing > div, section.activities > div, section.projects > div {
    min-width: 320px;
    max-width: 50%;
    background-color: var(--color7);
    position: relative;
    z-index: 2;
}

section.doing > div, section.activities > div, section.projects > div {
    margin-right: auto; /* Move a div para a direita */
}

.initial h1, .initial p, .benefits h1, .benefits p, .benefits ul, .benefits ol {
    padding: 10px;
    margin: 0px;
    position: relative; /* Garante que o conteúdo da .doing tenha uma pilha de contexto */
    z-index: 2; /* Coloca o conteúdo acima do overlay */
}

.doing p, .benefits ul li p {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.final p {
    padding: 5px 15px;
}

.doing p, .benefits p {
    padding: 2px 5px;
}

.final h1 {
    text-align: left;
    font-size: 1.25em;
}

section img {
    width: 100%;
}

#teamti {
    min-width: 320px;
    max-width: 530px;
    margin: auto;
    border-radius: 50%;
}

#teamee {
    max-width: 530px;
    border-radius: 50%;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: black 1px solid;
}

.partners h1 {
    margin: 20px 0 0 0;
}

.partners div img {
    max-width: 120px;
    margin: 40px;
}

main ol li {
    list-style-type: none;
}

main ul li {
    padding: 0 5px;
    text-align: left;
    list-style-type: none;    
}

#benefits-ee-end {
    margin-top: 15px;
}

#activities {
    padding-top: 78px;
}

.projects .present, .projects .past {
    margin: 20px 0 0 0;
}

.projects .past {
    font-size: 0.8em;
}

.projects ul li {
    margin: 5px;
    padding: 8px;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none; 
}

.more {
    color: var(--color5);
    font-style: italic;
    cursor: pointer;
}

.more:hover {
    transition: transform 0.25s;
    color: black;
    font-weight: bold;
}

.activities {
    display: flex;
    flex-wrap: wrap; 
}

.course, .service {
    margin: 15px;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

div img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

h1 {
    font-family: var(--fonte-padrao);
    color: black;
    font-size: 1.6em;
    text-align: center;
    background-color: var(--color7);
    margin-bottom: 15px;
}

h2 {
    background-image: linear-gradient(to right, var(--color2), var(--color3));
    font-family: var(--fonte-title);
    font-size: 1.25em;
    color: var(--color7);
    text-indent: 20px;
    font-weight: normal;
    margin: 15px 0px 5px 0px;
    padding: 2px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h3 {
    font-family: var(--fonte-destaque);
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
    color: var(--color3);
    margin: 20px 15px 10px 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3:hover {
    transform: translate(-1px, -1px);
    transition: transform 0.25s;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h4 {   
    font-family: var(--fonte-title);
    color: var(--color3);
    letter-spacing: 1px;
    font-size: 1.05em;
    padding-bottom: 10px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); /* Para navegadores WebKit como Chrome e Safari */
    text-stroke: 1px rgba(0, 0, 0, 0.2); /* Para outros navegadores que suportam a propriedade 'text-stroke' */
}

footer {
    padding: 1px;
    background-color: var(--color7);
    font-family: var(--fonte-footer);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
}

footer p {
    font-size: 0.75em;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content div {
    flex: 1 1 32%; /* Each div will take up approximately 45% of the width */
    margin: 0;
}

.footer-content div img {
    max-width: 180px;
}

.links {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.links p {
    margin: 5px;
}

#adress {
    margin: 6px 0 12px 0;
}

.links i {
    margin-right: 5px;
    font-size: 1.8em;
}

.links a {
    margin: 0 5px;
}

.links a:hover {
    transition: transform 0.25s;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

#copyright {
    border-top: 1px solid black;
}
